<div class="break">
	<footer class="site-footer">
		
		<div class="follow">
			<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/assets/icons/icon-g-rss.png" alt="RSS" /></a>
			<a href="https://twitter.com/intent/follow?screen_name=finniweb"><img src="/assets/icons/icon-g-twitter.png" alt="twitter"/></a>
			<a href="http://www.finniweb.com"><img src="/assets/icons/icon-g-en.png" alt="finniweb.com" /></a>
			<a href="http://www.finniweb.com/de"><img src="/assets/icons/icon-g-de.png" alt="finniweb.de" /></a>
		</div>
	  
		<nav class="foot-nav">
				{% assign pages_list = site.pages | sort:"site-id" %}
				<ul>
					<li><a class="page-link" href="{{ site.baseurl }}/">home</a></li>
			
		   	{% for page in pages_list %}
		   		{% if page.nav contains "bottom" %}
		   			{% if page.title %}
		   				<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
		   			{% endif %}
		   		{% endif %}
		   	{% endfor %}
		   </ul>
		</nav>
	    
	  <div class="contact">
	  	<a href="mailto:mail@finniweb.com">contact me</a> at <a href="mailto:mail@finniweb.com">mail@finniweb.com</a>
	  </div>
	  
	  <div class="credits">
	  	<p>Copyright 2014 Finn Hansch</p> 
	  	<p>All Rights Reserved</p>
	  </div>
	
	</footer>
</div>